In [50]:
import pandas as pd



df = pd.read_csv(r'C:\Users\user\Downloads\all-data.csv')

df

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,inernet,id,userType,rooms,lat,lon,district,street,house_num,price
0,монолитный,2022,7 из 9,38.400,"38.4 м², Площадь кухни — 8.27 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,NaN,677328246,owner,1,51.118,71.526,Almaty_r-n,A91_ulitsa,55_str,15555555
1,монолитный,2022,2 из 9,34.000,"34 м², Площадь кухни — 9 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,NaN,678848581,owner,1,51.110,71.404,Esilyskiy_r-n,Orynbor,10,18800000
2,кирпичный,2011,8 из 16,57.200,57.2 м²,NaN,NaN,NaN,NaN,NaN,...,NaN,681963881,specialist,2,51.158,71.509,Almaty_r-n,Gabidena_Mustafina,21/4,23000000
3,монолитный,2022,7 из 7,50.000,50 м²,черновая отделка,совмещенный,NaN,NaN,NaN,...,NaN,679899884,owner,2,51.088,71.426,Esilyskiy_r-n,Manglik_El,56,31000000
4,монолитный,1979,4 из 5,45.000,"45 м², Площадь кухни — 9 м²",NaN,раздельный,балкон,Не интересует,NaN,...,NaN,681619507,owner,2,51.178,71.407,Saryarka_r-n,Sary_Arka,NaN,19300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18787,кирпичный,2019,9 из 10,38.000,38 м²,хорошее,NaN,NaN,NaN,NaN,...,NaN,681980630,specialist,1,51.144,71.380,Esilyskiy_r-n,E_489,NaN,21500000
18788,монолитный,2022,11 из 13,107.400,107.4 м²,черновая отделка,2 с/у и более,NaN,Не интересует,NaN,...,NaN,681189717,owner,3,51.141,71.508,Almaty_r-n,Tulebaeva,5,31000000
18789,монолитный,2021,13 из 16,103.000,"103 м², Площадь кухни — 17.5 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,оптика,681019867,specialist,3,51.131,71.376,Esilyskiy_r-n,E-753_ulitsa,2,70000000
18790,монолитный,2012,6 из 8,141.000,141 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,NaN,681942529,specialist,4,51.116,71.455,Almaty_r-n,Ivana_Panfilova,5/1,88000000
18791,монолитный,2011,10 из 22,70.000,70 м²,хорошее,совмещенный,балкон,Не интересует,NaN,...,оптика,677846871,owner,2,51.118,71.463,Almaty_r-n,Nazhimedenova,10,28900000

In [51]:
pd.options.display.float_format = "{:.3f}".format

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18792 entries, 0 to 18791
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   built_type     17790 non-null  object
 1   year_built     18792 non-null  int64
 2   floor_level    18503 non-null  object
 3   total_area     18792 non-null  float64
 4   area_descr     18792 non-null  object
 5   condition      12403 non-null  object
 6   bathrooms      12455 non-null  object
 7   balcony        11067 non-null  object
 8   exchange       9947 non-null   object
 9   furniture      4568 non-null   object
 10  security       9107 non-null   object
 11  ceil           16070 non-null  object
 12  parking        10941 non-null  object
 13  residance      13496 non-null  object
 14  phone          5325 non-null   object
 15  floor          9089 non-null   object
 16  door           10434 non-null  object
 17  balcony_glass  9897 non-null   object
 18  ex_dormetory   18527 non-null  object
 19  inernet        6916 non-null   object
 20  id             18792 non-null  int64
 21  userType       18792 non-null  object
 22  rooms          18792 non-null  int64
 23  lat            18792 non-null  float64
 24  lon            18792 non-null  float64
 25  district       17792 non-null  object
 26  street         18792 non-null  object
 27  house_num      15011 non-null  object
 28  price          18792 non-null  int64
dtypes: float64(3), int64(4), object(22)
memory usage: 4.2+ MB

In [52]:
df.describe()

,year_built,total_area,id,rooms,lat,lon,price
count,18792.000,18792.000,18792.000,18792.000,18792.000,18792.000,18792.000
mean,2013.019,68.661,676589238.659,2.120,51.127,71.428,37470238.148
std,11.947,43.637,47536026.146,1.057,0.240,0.604,40276086.306
min,1957.000,10.000,9785864.000,1.000,42.188,-0.262,3500000.000
25%,2010.000,41.000,679607960.250,1.000,51.116,71.397,19700000.000
50%,2017.000,58.000,681431696.500,2.000,51.133,71.428,27000000.000
75%,2021.000,80.233,681864548.250,3.000,51.157,71.469,40000000.000
max,2023.000,800.000,682022399.000,16.000,53.316,83.372,790500000.000

In [53]:
df

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,inernet,id,userType,rooms,lat,lon,district,street,house_num,price
0,монолитный,2022,7 из 9,38.400,"38.4 м², Площадь кухни — 8.27 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,NaN,677328246,owner,1,51.118,71.526,Almaty_r-n,A91_ulitsa,55_str,15555555
1,монолитный,2022,2 из 9,34.000,"34 м², Площадь кухни — 9 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,NaN,678848581,owner,1,51.110,71.404,Esilyskiy_r-n,Orynbor,10,18800000
2,кирпичный,2011,8 из 16,57.200,57.2 м²,NaN,NaN,NaN,NaN,NaN,...,NaN,681963881,specialist,2,51.158,71.509,Almaty_r-n,Gabidena_Mustafina,21/4,23000000
3,монолитный,2022,7 из 7,50.000,50 м²,черновая отделка,совмещенный,NaN,NaN,NaN,...,NaN,679899884,owner,2,51.088,71.426,Esilyskiy_r-n,Manglik_El,56,31000000
4,монолитный,1979,4 из 5,45.000,"45 м², Площадь кухни — 9 м²",NaN,раздельный,балкон,Не интересует,NaN,...,NaN,681619507,owner,2,51.178,71.407,Saryarka_r-n,Sary_Arka,NaN,19300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18787,кирпичный,2019,9 из 10,38.000,38 м²,хорошее,NaN,NaN,NaN,NaN,...,NaN,681980630,specialist,1,51.144,71.380,Esilyskiy_r-n,E_489,NaN,21500000
18788,монолитный,2022,11 из 13,107.400,107.4 м²,черновая отделка,2 с/у и более,NaN,Не интересует,NaN,...,NaN,681189717,owner,3,51.141,71.508,Almaty_r-n,Tulebaeva,5,31000000
18789,монолитный,2021,13 из 16,103.000,"103 м², Площадь кухни — 17.5 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,оптика,681019867,specialist,3,51.131,71.376,Esilyskiy_r-n,E-753_ulitsa,2,70000000
18790,монолитный,2012,6 из 8,141.000,141 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,NaN,681942529,specialist,4,51.116,71.455,Almaty_r-n,Ivana_Panfilova,5/1,88000000
18791,монолитный,2011,10 из 22,70.000,70 м²,хорошее,совмещенный,балкон,Не интересует,NaN,...,оптика,677846871,owner,2,51.118,71.463,Almaty_r-n,Nazhimedenova,10,28900000

In [54]:
df.replace(r'\s+', ' ', regex=True, inplace=True)

In [55]:
# Удалил лишние пробелы в т.ч. [ZWSP]. См. df.loc[7,'street']

df_obj = df.select_dtypes(['object'])
df[df_obj.columns] = df_obj.apply(lambda x: x.str.replace('\u200b', ' ').str.strip())
df

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,inernet,id,userType,rooms,lat,lon,district,street,house_num,price
0,монолитный,2022,7 из 9,38.400,"38.4 м², Площадь кухни — 8.27 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,NaN,677328246,owner,1,51.118,71.526,Almaty_r-n,A91_ulitsa,55_str,15555555
1,монолитный,2022,2 из 9,34.000,"34 м², Площадь кухни — 9 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,NaN,678848581,owner,1,51.110,71.404,Esilyskiy_r-n,Orynbor,10,18800000
2,кирпичный,2011,8 из 16,57.200,57.2 м²,NaN,NaN,NaN,NaN,NaN,...,NaN,681963881,specialist,2,51.158,71.509,Almaty_r-n,Gabidena_Mustafina,21/4,23000000
3,монолитный,2022,7 из 7,50.000,50 м²,черновая отделка,совмещенный,NaN,NaN,NaN,...,NaN,679899884,owner,2,51.088,71.426,Esilyskiy_r-n,Manglik_El,56,31000000
4,монолитный,1979,4 из 5,45.000,"45 м², Площадь кухни — 9 м²",NaN,раздельный,балкон,Не интересует,NaN,...,NaN,681619507,owner,2,51.178,71.407,Saryarka_r-n,Sary_Arka,NaN,19300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18787,кирпичный,2019,9 из 10,38.000,38 м²,хорошее,NaN,NaN,NaN,NaN,...,NaN,681980630,specialist,1,51.144,71.380,Esilyskiy_r-n,E_489,NaN,21500000
18788,монолитный,2022,11 из 13,107.400,107.4 м²,черновая отделка,2 с/у и более,NaN,Не интересует,NaN,...,NaN,681189717,owner,3,51.141,71.508,Almaty_r-n,Tulebaeva,5,31000000
18789,монолитный,2021,13 из 16,103.000,"103 м², Площадь кухни — 17.5 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,оптика,681019867,specialist,3,51.131,71.376,Esilyskiy_r-n,E-753_ulitsa,2,70000000
18790,монолитный,2012,6 из 8,141.000,141 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,NaN,681942529,specialist,4,51.116,71.455,Almaty_r-n,Ivana_Panfilova,5/1,88000000
18791,монолитный,2011,10 из 22,70.000,70 м²,хорошее,совмещенный,балкон,Не интересует,NaN,...,оптика,677846871,owner,2,51.118,71.463,Almaty_r-n,Nazhimedenova,10,28900000

# # # 1-3

In [56]:
df['price_for_area'] = df.price / df.total_area

df.groupby(['district', 'rooms'])['price_for_area'].agg(['count', min, max, 'mean', 'median', pd.Series.mode])

                     count         min         max        mean      median  \
district      rooms
Almaty_r-n    1       1950  200000.000 1200000.000  456060.022  448717.949
              2       1848  221311.475 1416666.667  457215.875  438830.164
              3       1267  234234.234 1856287.425  471637.810  438047.559
              4        297  268181.818 1904761.905  594704.210  567010.309
              5         89  277456.647 1750000.000  714910.278  588000.000
              6          8  352112.676 1339869.281  564965.719  464515.777
              7          2  325379.610  813008.130  569193.870  569193.870
              8          1  972222.222  972222.222  972222.222  972222.222
Esilyskiy_r-n 1       2557  180000.000 4583333.333  542077.261  537500.000
              2       2869  206896.552 1825000.000  549762.251  535714.286
              3       2188  253968.254 1450000.000  574564.255  546103.239
              4        712  304752.381 2600000.000  670176.829  614606.830
              5        140  376811.594 2068965.517  915216.614  769988.566
              6         31  383561.644 1685393.258  794905.644  709677.419
              7         23  282352.941 1789976.134  767383.357  800000.000
              8          8  400000.000 1566666.667  939315.228  948034.012
              9          7  392354.125  861538.462  546561.100  429906.542
              10         1  718015.666  718015.666  718015.666  718015.666
              11         1 1042857.143 1042857.143 1042857.143 1042857.143
              16         1  513196.481  513196.481  513196.481  513196.481
Saryarka_r-n  1        942  157000.000 1075000.000  438128.470  427777.778
              2        917  187296.417 1016896.120  420024.957  416666.667
              3        548  235294.118  894736.842  416081.886  407759.197
              4        148  287998.009 1400000.000  464130.067  421388.443
              5          8  307017.544  817073.171  486362.372  432482.850
              6          8  296666.667  562700.965  406022.762  420000.000
              7          7  426666.667  821454.458  598358.670  531855.178
              8          2  562727.574  625000.000  593863.787  593863.787
r-n_Baykonur  1        381  254237.288  697399.527  442064.650  442857.143
              2        413  265909.091  777777.778  424535.447  413333.333
              3        310  182094.082  679012.346  429343.033  424364.407
              4         87  170329.670  842105.263  431562.396  417721.519
              5         18  274193.548  687500.000  364927.945  347704.044
              6          1  382812.500  382812.500  382812.500  382812.500
              7          2  268181.818  281907.018  275044.418  275044.418

                                                                  mode
district      rooms
Almaty_r-n    1                                             500000.000
              2                                             500000.000
              3                                             500000.000
              4                          [651041.6666666666, 875000.0]
              5      [324675.32467532466, 580000.0, 585106.3829787234]
              6                  [352112.676056338, 370892.0187793427]
              7                 [325379.6095444685, 813008.1300813009]
              8                                             972222.222
Esilyskiy_r-n 1                                             500000.000
              2                                             500000.000
              3                                             500000.000
              4                                            1000000.000
              5      [636771.3004484305, 789473.6842105263, 1000000.0]
              6                                            1163636.364
              7                                             800000.000
              8                                            1373626.374
              9                 [429906.5420560748, 861538.4615384615]
              10                                            718015.666
              11                                           1042857.143
              16                                            513196.481
Saryarka_r-n  1                                             416666.667
              2                                             500000.000
              3                                             400000.000
              4                                             318135.765
              5      [307017.5438596491, 355327.868852459, 367797.2...
              6      [296666.6666666667, 301208.0536912752, 320000....
              7                 [531855.1782206006, 821454.4575984537]
              8                          [562727.5736511089, 625000.0]
r-n_Baykonur  1                                             366666.667
              2               [364444.44444444444, 377777.77777777775]
              3                                             400000.000
              4                                             369897.959
              5                                             377272.727
              6                                             382812.500
              7                [268181.8181818182, 281907.01806336985]

In [57]:
df.rename(columns = {'inernet': 'internet'},inplace=True)

In [58]:
# df.security.value_counts()
a = set()
for i in df.security.unique():
    b = str(i).split(',')
    for j in b:
        a.add(j.strip())

a.remove('nan')
print(a)

{'видеонаблюдение', 'решетки на окнах', 'кодовый замок', 'домофон', 'охрана', 'консьерж', 'видеодомофон', 'сигнализация'}

In [59]:
bla = df.copy()

In [60]:
bla.rename(columns={'price_for_area': 'price_per_square_meter'})

bla['age'] = 2023 - bla.year_built
bla

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,userType,rooms,lat,lon,district,street,house_num,price,price_for_area,age
0,монолитный,2022,7 из 9,38.400,"38.4 м², Площадь кухни — 8.27 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,owner,1,51.118,71.526,Almaty_r-n,A91_ulitsa,55_str,15555555,405092.578,1
1,монолитный,2022,2 из 9,34.000,"34 м², Площадь кухни — 9 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,owner,1,51.110,71.404,Esilyskiy_r-n,Orynbor,10,18800000,552941.176,1
2,кирпичный,2011,8 из 16,57.200,57.2 м²,NaN,NaN,NaN,NaN,NaN,...,specialist,2,51.158,71.509,Almaty_r-n,Gabidena_Mustafina,21/4,23000000,402097.902,12
3,монолитный,2022,7 из 7,50.000,50 м²,черновая отделка,совмещенный,NaN,NaN,NaN,...,owner,2,51.088,71.426,Esilyskiy_r-n,Manglik_El,56,31000000,620000.000,1
4,монолитный,1979,4 из 5,45.000,"45 м², Площадь кухни — 9 м²",NaN,раздельный,балкон,Не интересует,NaN,...,owner,2,51.178,71.407,Saryarka_r-n,Sary_Arka,NaN,19300000,428888.889,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18787,кирпичный,2019,9 из 10,38.000,38 м²,хорошее,NaN,NaN,NaN,NaN,...,specialist,1,51.144,71.380,Esilyskiy_r-n,E_489,NaN,21500000,565789.474,4
18788,монолитный,2022,11 из 13,107.400,107.4 м²,черновая отделка,2 с/у и более,NaN,Не интересует,NaN,...,owner,3,51.141,71.508,Almaty_r-n,Tulebaeva,5,31000000,288640.596,1
18789,монолитный,2021,13 из 16,103.000,"103 м², Площадь кухни — 17.5 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,specialist,3,51.131,71.376,Esilyskiy_r-n,E-753_ulitsa,2,70000000,679611.650,2
18790,монолитный,2012,6 из 8,141.000,141 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,specialist,4,51.116,71.455,Almaty_r-n,Ivana_Panfilova,5/1,88000000,624113.475,11
18791,монолитный,2011,10 из 22,70.000,70 м²,хорошее,совмещенный,балкон,Не интересует,NaN,...,owner,2,51.118,71.463,Almaty_r-n,Nazhimedenova,10,28900000,412857.143,12

In [61]:
bla.floor_level.value_counts()

5 из 9      551
8 из 9      534
7 из 9      513
2 из 9      499
4 из 9      492
           ...
17 из 26      1
9 из 28       1
18 из 31      1
5 из 30       1
5 из 26       1
Name: floor_level, Length: 475, dtype: int64

# 24

In [62]:
bla.groupby('year_built')['price'].agg(['count', min, max, 'mean', 'median', pd.Series.mode])

,count,min,max,mean,median,mode
year_built,,,,,,
1957,1,15000000,15000000,15000000.000,15000000.000,15000000
1958,16,12499990,18000000,13031249.312,12500000.000,12500000
1959,6,12900000,18400000,16683333.333,17200000.000,"[17000000, 17400000]"
1960,10,6000000,22000000,14650000.000,15400000.000,"[11500000, 17000000]"
1961,13,8000000,28000000,16338461.538,15500000.000,15000000
...,...,...,...,...,...,...
2019,864,7700000,750000000,50819305.644,30500000.000,22500000
2020,794,8750000,500000000,45788848.859,33000000.000,25000000
2021,1719,7500000,650000000,36677641.677,28000000.000,22000000
2022,3636,6400000,220000000,28617703.839,24000000.000,25000000
2023,2,22100000,90000000,56050000.000,56050000.000,"[22100000, 90000000]"

#23

In [63]:
res_fur = pd.DataFrame({'count': bla['furniture'].value_counts(), 'proportion': bla['furniture'].value_counts(normalize=True)})
res_fur

            count  proportion
полностью    2310       0.506
частично     1739       0.381
без мебели    519       0.114

# 22

In [64]:
 bla[["current_floor", "max_floor"]] = bla.floor_level.str.split(" из ", expand=True)
# bla.drop(bla.columns[-3], axis=1, inplace=True)

first_floor_price = bla[bla['current_floor'].astype(float) == 1].price.mean()
res_floor_price = pd.DataFrame({'first_floor_price': first_floor_price , 'avg_price': bla.price.mean()}, index=[0])
res_floor_price

   first_floor_price    avg_price
0       27806101.610 37470238.148

# 21

In [65]:
res_door = pd.DataFrame({'count': bla['door'].value_counts(), 'proportion': bla['door'].value_counts(normalize=True)})
res_door

               count  proportion
металлическая   8168       0.783
бронированная   1988       0.191
деревянная       278       0.027

# 20

In [66]:
bla.groupby('street').size().sort_values(ascending=False).iloc[:5]

street
Turan              503
Syganak            452
Kabanbay_batyra    443
Nazhimedenova      392
Baytursynova       327
dtype: int64

# 19

In [67]:
z = bla.balcony.fillna('NO INFO').str.contains('лоджи')
z.rename('is_loggia', inplace=True)

z

res_loggia = bla.groupby(z)['price'].agg(['count', min, max, 'mean', 'median', pd.Series.mode])
res_loggia

           count      min        max         mean       median      mode
is_loggia
False      12022  3500000  750000000 35672231.980 25000000.000  25000000
True        6770  6400000  790500000 40663093.413 30800000.000  30000000

# 18

In [68]:
res_built_type = pd.DataFrame({'count': bla['built_type'].value_counts(), 'proportion': bla['built_type'].value_counts(normalize=True)})
res_built_type

            count  proportion
кирпичный    8303       0.467
монолитный   8091       0.455
панельный    1075       0.060
иное          321       0.018

# 17

In [69]:
res_parking = pd.DataFrame({'count': bla['parking'].value_counts(), 'proportion': bla['parking'].value_counts(normalize=True)})
res_parking

                          count  proportion
паркинг                    9180       0.839
рядом охраняемая стоянка   1730       0.158
гараж                        31       0.003

# 16

In [70]:
condition_three = bla[(bla['rooms']>=3) & (bla['ceil'].str.replace(' м', '').astype(float) > 3)]
condition_three['price'].mean()

condition_three_anlt = pd.DataFrame({'count': condition_three['price'].count(), 'min': condition_three['price'].min(), 'max': condition_three['price'].max(), 'mean': condition_three['price'].mean(), 'median': condition_three['price'].median(), 'mode': condition_three['price'].mode()[0].astype(str) + ', ' + condition_three['price'].mode()[1].astype(str)}, index=['price'])

condition_three_anlt

,count,min,max,mean,median,mode
price,491,22000000,790500000,149665429.450,105000000.000,"85000000, 110000000"

# 15

In [71]:
res_residance = bla['residance'].value_counts().iloc[:10]
res_residance

Шыгыс             225
Nova City         202
Mechta            196
Sat City          187
Хайвил Астана     175
Арнау             133
Alpamys           113
Bravo Family       94
Рио Де Жанейро     91
Мадрид             88
Name: residance, dtype: int64

# 14

In [72]:
bla.userType.value_counts()

specialist    9161
owner         8803
company        699
complex        129
Name: userType, dtype: int64

# 13

In [73]:
bla.groupby('current_floor')['price'].agg(['count', min, max, 'mean', 'median', pd.Series.mode]).sort_values(by='median', ascending= False)
# bla.groupby('year_built')['price']

,count,min,max,mean,median,mode
current_floor,,,,,,
31,7,61000000,232000000,182857142.857,230000000.000,232000000
29,1,210000000,210000000,210000000.000,210000000.000,210000000
41,1,86000000,86000000,86000000.000,86000000.000,86000000
28,3,51500000,270000000,135500000.000,85000000.000,"[51500000, 85000000, 270000000]"
36,3,58000000,180000000,107333333.333,84000000.000,"[58000000, 84000000, 180000000]"
37,4,46000000,90000000,72000000.000,76000000.000,"[46000000, 65000000, 87000000, 90000000]"
30,1,68000000,68000000,68000000.000,68000000.000,68000000
40,1,65500000,65500000,65500000.000,65500000.000,65500000
33,1,58600000,58600000,58600000.000,58600000.000,58600000
34,1,58000000,58000000,58000000.000,58000000.000,58000000
27,2,47500000,54500000,51000000.000,51000000.000,"[47500000, 54500000]"
32,1,45000000,45000000,45000000.000,45000000.000,45000000
26,4,39900000,47500000,43850000.000,44000000.000,"[39900000, 41000000, 47000000, 47500000]"
39,1,44000000,44000000,44000000.000,44000000.000,44000000
18,105,15500000,300000000,58091095.210,42000000.000,"[41000000, 53000000]"
19,98,14999999,410000000,53728356.969,40000000.000,"[15000000, 16000000, 21500000, 33000000, 40000..."
22,47,16500000,220000000,45426148.936,38500000.000,40000000
21,49,16500000,650000000,75676918.367,36990000.000,125000000
20,50,16500000,560000000,69354999.980,36250000.000,65000000
23,26,12200000,230000000,49864999.962,33749999.500,62000000
25,19,12000000,115000000,45105263.105,33000000.000,65700000
17,126,14500000,280000000,51438452.262,31000000.000,280000000
14,235,12400000,160000000,39201468.791,30500000.000,"[25000000, 26000000, 31400000]"
13,344,10899990,173720000,39533937.756,29900000.000,25000000
16,235,12000000,303000000,38889570.115,29500000.000,12150000
24,25,13500000,600000000,152039999.600,29000000.000,500000000
7,1472,6400000,495000000,39884211.811,29000000.000,22000000
10,794,11000000,350000000,35117485.458,28500000.000,27000000
6,1568,6000000,490000000,41277343.927,28500000.000,25000000
9,1346,6500000,470000000,34894618.100,27900000.000,"[23000000, 24000000]"
12,520,11600000,190000000,33950739.663,27700000.000,"[20000000, 25000000]"
11,583,11000000,159000000,32959032.196,27700000.000,"[23000000, 28000000]"
15,204,12500000,340000000,41359739.245,27000000.000,17000000
8,1400,6700000,500000000,35092469.924,27000000.000,25000000
3,2112,5100000,750000000,38125671.029,26000000.000,35000000
2,1919,3500000,500000000,37447433.351,26000000.000,22000000
4,2004,4400000,790500000,35149821.020,25000000.000,25000000
5,2225,4000000,730000000,36810101.354,25000000.000,25000000
1,966,4000000,550000000,27806101.610,21000000.000,25000000

# 12

In [74]:
# bla[(bla['ceil'].str.replace(' м', '').astype(float) > 3)].groupby('street').size().sort_values(ascending=False)


res_ceil_three = pd.DataFrame({'count': bla[(bla['ceil'].str.replace(' м', '').astype(float) > 3)]['street'].value_counts(), 'proportion': bla[(bla['ceil'].str.replace(' м', '').astype(float) > 3)]['street'].value_counts(normalize=True)})
res_ceil_three

                     count  proportion
Kabanbay_batyra         33       0.049
Dinmuhammed_Kunaev      28       0.042
Panfilova               24       0.036
Nazhimedenova           23       0.034
Karashash_ana           21       0.031
...                    ...         ...
Ul_D_Kunaeva             1       0.001
Pereulok_Sarkyrama       1       0.001
Sharly_de_Gollya         1       0.001
Shәken_Aymauytov         1       0.001
Anatoliya_Hropatogo      1       0.001

[197 rows x 2 columns]

# 11

In [75]:
bla.groupby(['district', 'bathrooms'])['price'].agg(['count', min, max, 'mean', 'median', pd.Series.mode])

                             count       min        max         mean  \
district      bathrooms
Almaty_r-n    2 с/у и более    719  12000000  430000000 67992835.786
              нет                1   7500000    7500000  7500000.000
              раздельный       989   6000000  220000000 29500871.501
              совмещенный     1997   5300000   86875050 21510420.758
Esilyskiy_r-n 2 с/у и более   1629  17990000  790500000 78823072.106
              нет                6  19000000   59999999 37533333.000
              раздельный       906   5900000  170000000 37564989.118
              совмещенный     3065   5100000  148500000 28676302.249
Saryarka_r-n  2 с/у и более    230  19500000  248000000 58018785.848
              нет                1   6000000    6000000  6000000.000
              раздельный       512   5300000   99000000 27384542.840
              совмещенный     1032   5700000  149000000 20228971.514
r-n_Baykonur  2 с/у и более    149   6000000  160000000 53440664.342
              нет                3   4000000    9000000  6400000.000
              раздельный       252   5000000   95000000 28801181.282
              совмещенный      425   4700000   62000000 22214594.176

                                  median  \
district      bathrooms
Almaty_r-n    2 с/у и более 50000000.000
              нет            7500000.000
              раздельный    27900000.000
              совмещенный   19999000.000
Esilyskiy_r-n 2 с/у и более 61060000.000
              нет           34099999.500
              раздельный    34000000.000
              совмещенный   25700000.000
Saryarka_r-n  2 с/у и более 45735000.000
              нет            6000000.000
              раздельный    25100000.000
              совмещенный   18000000.000
r-n_Baykonur  2 с/у и более 50000000.000
              нет            6200000.000
              раздельный    26000000.000
              совмещенный   21000000.000

                                                                          mode
district      bathrooms
Almaty_r-n    2 с/у и более                                           45000000
              нет                                                      7500000
              раздельный                                              30000000
              совмещенный                                             17500000
Esilyskiy_r-n 2 с/у и более                                           65000000
              нет            [19000000, 32000000, 32999999, 35200000, 46000...
              раздельный                                              30000000
              совмещенный                                             25000000
Saryarka_r-n  2 с/у и более                               [37000000, 40000000]
              нет                                                      6000000
              раздельный                                              25000000
              совмещенный                                             17000000
r-n_Baykonur  2 с/у и более                                           65000000
              нет                                  [4000000, 6200000, 9000000]
              раздельный                                              25000000
              совмещенный                                             25000000

# 10

In [76]:
bla.groupby(pd.qcut(bla['price'], 4))['rooms'].sum().sort_values(ascending=False)

price
(40000000.0, 790500000.0]    15119
(27000000.0, 40000000.0]     10745
(19700000.0, 27000000.0]      8270
(3499999.999, 19700000.0]     5701
Name: rooms, dtype: int64

# 9
Невалидное задание

# 8

In [77]:
bla.current_floor = pd.to_numeric(bla['current_floor'])
bla.max_floor = pd.to_numeric(bla['max_floor'])

# dd = bla['current_floor'].min()
groupped = bla[bla.current_floor.notna()].groupby(['residance', 'current_floor'])

v = pd.DataFrame(groupped['price'].agg([len, min, max, 'mean', 'median']))
v

                                     len       min       max         mean  \
residance             current_floor
12 месяцев            4.000            1  35000000  35000000 35000000.000
                      7.000            1  41000000  41000000 41000000.000
                      11.000           1  25999999  25999999 25999999.000
                      12.000           3  13000000  14000000 13663333.333
13 магистраль         4.000            1  27800000  27800000 27800000.000
...                                  ...       ...       ...          ...
на просп. Абылай Хана 2.000            1  30000000  30000000 30000000.000
                      3.000            2  29000000  29000000 29000000.000
                      5.000            1  25000000  25000000 25000000.000
                      7.000            2  22000000  26500000 24250000.000
                      8.000            1  20500000  20500000 20500000.000

                                          median
residance             current_floor
12 месяцев            4.000         35000000.000
                      7.000         41000000.000
                      11.000        25999999.000
                      12.000        13990000.000
13 магистраль         4.000         27800000.000
...                                          ...
на просп. Абылай Хана 2.000         30000000.000
                      3.000         29000000.000
                      5.000         25000000.000
                      7.000         24250000.000
                      8.000         20500000.000

[5138 rows x 5 columns]

# 7

In [78]:
bla.sort_values(by='price', ascending=False).iloc[:10]

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,lat,lon,district,street,house_num,price,price_for_area,age,current_floor,max_floor
7586,монолитный,2014,4 из 5,600.000,"600 м², Площадь кухни — 50 м²",NaN,2 с/у и более,несколько балконов или лоджий,Не интересует,NaN,...,51.141,71.397,Esilyskiy_r-n,Karashash_ana,NaN,790500000,1317500.000,9,4.000,5.000
14029,кирпичный,2019,3 из 7,445.000,445 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,51.144,71.403,Esilyskiy_r-n,Tumar_Hanym,20,750000000,1685393.258,4,3.000,7.000
16125,монолитный,2010,5 из 6,700.000,700 м²,NaN,2 с/у и более,несколько балконов или лоджий,NaN,полностью,...,51.142,71.398,Esilyskiy_r-n,Karashash_Ana,21,730000000,1042857.143,13,5.000,6.000
720,монолитный,2021,21 из 22,250.000,250 м²,NaN,2 с/у и более,NaN,NaN,NaN,...,51.107,71.425,Esilyskiy_r-n,Turkestan,16,650000000,2600000.000,2,21.000,22.000
13133,монолитный,2018,21 из 22,250.000,250 м²,NaN,NaN,NaN,NaN,NaN,...,51.106,71.425,Esilyskiy_r-n,Turkestan,16,650000000,2600000.000,5,21.000,22.000
3111,монолитный,2012,24 из 26,290.000,290 м²,NaN,NaN,NaN,NaN,NaN,...,51.132,71.404,Esilyskiy_r-n,Turan,37/9,600000000,2068965.517,11,24.000,26.000
12937,монолитный,2017,20 из 23,650.000,650 м²,NaN,NaN,NaN,Не интересует,NaN,...,51.114,71.435,Esilyskiy_r-n,Mangilik,26a,560000000,861538.462,6,20.000,23.000
434,монолитный,2016,20 из 22,650.000,650 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,51.114,71.435,Esilyskiy_r-n,Mangilik_El,26A,560000000,861538.462,7,20.000,22.000
2566,монолитный,2021,1 из 2,766.000,766 м²,хорошее,2 с/у и более,лоджия,NaN,NaN,...,51.134,71.379,Esilyskiy_r-n,E-753_ul,6,550000000,718015.666,2,1.000,2.000
14032,кирпичный,2014,2 из 6,364.000,"364 м², Площадь кухни — 25 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,51.139,71.414,Esilyskiy_r-n,Kabanbay_batyra,13,500000000,1373626.374,9,2.000,6.000

# 6

In [79]:
bla.groupby(pd.qcut(bla['total_area'], 4)).size()

total_area
(9.999, 41.0]      4748
(41.0, 58.0]       4726
(58.0, 80.232]     4620
(80.232, 800.0]    4698
dtype: int64

# 5

In [80]:
bla.groupby('street').size().sort_values(ascending=False).iloc[:5]

street
Turan              503
Syganak            452
Kabanbay_batyra    443
Nazhimedenova      392
Baytursynova       327
dtype: int64

# 4

In [81]:
bla[['total_area', 'rooms', 'price', 'age']].corr()

            total_area  rooms  price    age
total_area       1.000  0.842  0.839 -0.060
rooms            0.842  1.000  0.651  0.065
price            0.839  0.651  1.000 -0.111
age             -0.060  0.065 -0.111  1.000

# Новые колонки

# 5

In [82]:
bla['is_penthouse'] = bla['current_floor'] == bla['max_floor']
bla

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,lon,district,street,house_num,price,price_for_area,age,current_floor,max_floor,is_penthouse
0,монолитный,2022,7 из 9,38.400,"38.4 м², Площадь кухни — 8.27 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,71.526,Almaty_r-n,A91_ulitsa,55_str,15555555,405092.578,1,7.000,9.000,False
1,монолитный,2022,2 из 9,34.000,"34 м², Площадь кухни — 9 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,71.404,Esilyskiy_r-n,Orynbor,10,18800000,552941.176,1,2.000,9.000,False
2,кирпичный,2011,8 из 16,57.200,57.2 м²,NaN,NaN,NaN,NaN,NaN,...,71.509,Almaty_r-n,Gabidena_Mustafina,21/4,23000000,402097.902,12,8.000,16.000,False
3,монолитный,2022,7 из 7,50.000,50 м²,черновая отделка,совмещенный,NaN,NaN,NaN,...,71.426,Esilyskiy_r-n,Manglik_El,56,31000000,620000.000,1,7.000,7.000,True
4,монолитный,1979,4 из 5,45.000,"45 м², Площадь кухни — 9 м²",NaN,раздельный,балкон,Не интересует,NaN,...,71.407,Saryarka_r-n,Sary_Arka,NaN,19300000,428888.889,44,4.000,5.000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18787,кирпичный,2019,9 из 10,38.000,38 м²,хорошее,NaN,NaN,NaN,NaN,...,71.380,Esilyskiy_r-n,E_489,NaN,21500000,565789.474,4,9.000,10.000,False
18788,монолитный,2022,11 из 13,107.400,107.4 м²,черновая отделка,2 с/у и более,NaN,Не интересует,NaN,...,71.508,Almaty_r-n,Tulebaeva,5,31000000,288640.596,1,11.000,13.000,False
18789,монолитный,2021,13 из 16,103.000,"103 м², Площадь кухни — 17.5 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,71.376,Esilyskiy_r-n,E-753_ulitsa,2,70000000,679611.650,2,13.000,16.000,False
18790,монолитный,2012,6 из 8,141.000,141 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,71.455,Almaty_r-n,Ivana_Panfilova,5/1,88000000,624113.475,11,6.000,8.000,False
18791,монолитный,2011,10 из 22,70.000,70 м²,хорошее,совмещенный,балкон,Не интересует,NaN,...,71.463,Almaty_r-n,Nazhimedenova,10,28900000,412857.143,12,10.000,22.000,False

# 6

In [83]:
 bla['location'] = bla['street'].str.cat(bla['house_num'], sep=' +;+ ').str.cat(bla['district'], sep=' +;+ ')
bla

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,district,street,house_num,price,price_for_area,age,current_floor,max_floor,is_penthouse,location
0,монолитный,2022,7 из 9,38.400,"38.4 м², Площадь кухни — 8.27 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,Almaty_r-n,A91_ulitsa,55_str,15555555,405092.578,1,7.000,9.000,False,A91_ulitsa +;+ 55_str +;+ Almaty_r-n
1,монолитный,2022,2 из 9,34.000,"34 м², Площадь кухни — 9 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,Esilyskiy_r-n,Orynbor,10,18800000,552941.176,1,2.000,9.000,False,Orynbor +;+ 10 +;+ Esilyskiy_r-n
2,кирпичный,2011,8 из 16,57.200,57.2 м²,NaN,NaN,NaN,NaN,NaN,...,Almaty_r-n,Gabidena_Mustafina,21/4,23000000,402097.902,12,8.000,16.000,False,Gabidena_Mustafina +;+ 21/4 +;+ Almaty_r-n
3,монолитный,2022,7 из 7,50.000,50 м²,черновая отделка,совмещенный,NaN,NaN,NaN,...,Esilyskiy_r-n,Manglik_El,56,31000000,620000.000,1,7.000,7.000,True,Manglik_El +;+ 56 +;+ Esilyskiy_r-n
4,монолитный,1979,4 из 5,45.000,"45 м², Площадь кухни — 9 м²",NaN,раздельный,балкон,Не интересует,NaN,...,Saryarka_r-n,Sary_Arka,NaN,19300000,428888.889,44,4.000,5.000,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18787,кирпичный,2019,9 из 10,38.000,38 м²,хорошее,NaN,NaN,NaN,NaN,...,Esilyskiy_r-n,E_489,NaN,21500000,565789.474,4,9.000,10.000,False,NaN
18788,монолитный,2022,11 из 13,107.400,107.4 м²,черновая отделка,2 с/у и более,NaN,Не интересует,NaN,...,Almaty_r-n,Tulebaeva,5,31000000,288640.596,1,11.000,13.000,False,Tulebaeva +;+ 5 +;+ Almaty_r-n
18789,монолитный,2021,13 из 16,103.000,"103 м², Площадь кухни — 17.5 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,Esilyskiy_r-n,E-753_ulitsa,2,70000000,679611.650,2,13.000,16.000,False,E-753_ulitsa +;+ 2 +;+ Esilyskiy_r-n
18790,монолитный,2012,6 из 8,141.000,141 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,Almaty_r-n,Ivana_Panfilova,5/1,88000000,624113.475,11,6.000,8.000,False,Ivana_Panfilova +;+ 5/1 +;+ Almaty_r-n
18791,монолитный,2011,10 из 22,70.000,70 м²,хорошее,совмещенный,балкон,Не интересует,NaN,...,Almaty_r-n,Nazhimedenova,10,28900000,412857.143,12,10.000,22.000,False,Nazhimedenova +;+ 10 +;+ Almaty_r-n

# 7

In [84]:
categories_floor = ['low', 'medium', 'high']
bla['floor_category'] = pd.qcut(bla['current_floor'], 3, labels=categories_floor)

# 8

In [85]:
# bla['area_descr'].value_counts()
bla

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,street,house_num,price,price_for_area,age,current_floor,max_floor,is_penthouse,location,floor_category
0,монолитный,2022,7 из 9,38.400,"38.4 м², Площадь кухни — 8.27 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,A91_ulitsa,55_str,15555555,405092.578,1,7.000,9.000,False,A91_ulitsa +;+ 55_str +;+ Almaty_r-n,medium
1,монолитный,2022,2 из 9,34.000,"34 м², Площадь кухни — 9 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,Orynbor,10,18800000,552941.176,1,2.000,9.000,False,Orynbor +;+ 10 +;+ Esilyskiy_r-n,low
2,кирпичный,2011,8 из 16,57.200,57.2 м²,NaN,NaN,NaN,NaN,NaN,...,Gabidena_Mustafina,21/4,23000000,402097.902,12,8.000,16.000,False,Gabidena_Mustafina +;+ 21/4 +;+ Almaty_r-n,medium
3,монолитный,2022,7 из 7,50.000,50 м²,черновая отделка,совмещенный,NaN,NaN,NaN,...,Manglik_El,56,31000000,620000.000,1,7.000,7.000,True,Manglik_El +;+ 56 +;+ Esilyskiy_r-n,medium
4,монолитный,1979,4 из 5,45.000,"45 м², Площадь кухни — 9 м²",NaN,раздельный,балкон,Не интересует,NaN,...,Sary_Arka,NaN,19300000,428888.889,44,4.000,5.000,False,NaN,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18787,кирпичный,2019,9 из 10,38.000,38 м²,хорошее,NaN,NaN,NaN,NaN,...,E_489,NaN,21500000,565789.474,4,9.000,10.000,False,NaN,high
18788,монолитный,2022,11 из 13,107.400,107.4 м²,черновая отделка,2 с/у и более,NaN,Не интересует,NaN,...,Tulebaeva,5,31000000,288640.596,1,11.000,13.000,False,Tulebaeva +;+ 5 +;+ Almaty_r-n,high
18789,монолитный,2021,13 из 16,103.000,"103 м², Площадь кухни — 17.5 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,E-753_ulitsa,2,70000000,679611.650,2,13.000,16.000,False,E-753_ulitsa +;+ 2 +;+ Esilyskiy_r-n,high
18790,монолитный,2012,6 из 8,141.000,141 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,Ivana_Panfilova,5/1,88000000,624113.475,11,6.000,8.000,False,Ivana_Panfilova +;+ 5/1 +;+ Almaty_r-n,medium
18791,монолитный,2011,10 из 22,70.000,70 м²,хорошее,совмещенный,балкон,Не интересует,NaN,...,Nazhimedenova,10,28900000,412857.143,12,10.000,22.000,False,Nazhimedenova +;+ 10 +;+ Almaty_r-n,high

# 9
Done

# 10

In [86]:
bla['avg_price_district'] = bla.groupby('district')['price'].transform('mean')
bla

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,house_num,price,price_for_area,age,current_floor,max_floor,is_penthouse,location,floor_category,avg_price_district
0,монолитный,2022,7 из 9,38.400,"38.4 м², Площадь кухни — 8.27 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,55_str,15555555,405092.578,1,7.000,9.000,False,A91_ulitsa +;+ 55_str +;+ Almaty_r-n,medium,32368559.733
1,монолитный,2022,2 из 9,34.000,"34 м², Площадь кухни — 9 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,10,18800000,552941.176,1,2.000,9.000,False,Orynbor +;+ 10 +;+ Esilyskiy_r-n,low,45403141.775
2,кирпичный,2011,8 из 16,57.200,57.2 м²,NaN,NaN,NaN,NaN,NaN,...,21/4,23000000,402097.902,12,8.000,16.000,False,Gabidena_Mustafina +;+ 21/4 +;+ Almaty_r-n,medium,32368559.733
3,монолитный,2022,7 из 7,50.000,50 м²,черновая отделка,совмещенный,NaN,NaN,NaN,...,56,31000000,620000.000,1,7.000,7.000,True,Manglik_El +;+ 56 +;+ Esilyskiy_r-n,medium,45403141.775
4,монолитный,1979,4 из 5,45.000,"45 м², Площадь кухни — 9 м²",NaN,раздельный,балкон,Не интересует,NaN,...,NaN,19300000,428888.889,44,4.000,5.000,False,NaN,low,26228175.669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18787,кирпичный,2019,9 из 10,38.000,38 м²,хорошее,NaN,NaN,NaN,NaN,...,NaN,21500000,565789.474,4,9.000,10.000,False,NaN,high,45403141.775
18788,монолитный,2022,11 из 13,107.400,107.4 м²,черновая отделка,2 с/у и более,NaN,Не интересует,NaN,...,5,31000000,288640.596,1,11.000,13.000,False,Tulebaeva +;+ 5 +;+ Almaty_r-n,high,32368559.733
18789,монолитный,2021,13 из 16,103.000,"103 м², Площадь кухни — 17.5 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,2,70000000,679611.650,2,13.000,16.000,False,E-753_ulitsa +;+ 2 +;+ Esilyskiy_r-n,high,45403141.775
18790,монолитный,2012,6 из 8,141.000,141 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,5/1,88000000,624113.475,11,6.000,8.000,False,Ivana_Panfilova +;+ 5/1 +;+ Almaty_r-n,medium,32368559.733
18791,монолитный,2011,10 из 22,70.000,70 м²,хорошее,совмещенный,балкон,Не интересует,NaN,...,10,28900000,412857.143,12,10.000,22.000,False,Nazhimedenova +;+ 10 +;+ Almaty_r-n,high,32368559.733

In [87]:
bla['security'].fillna('NO INFO', inplace= True)

for i in a:
    bla[f'{i}'] = bla['security'].str.contains(f'{i}').astype(int)

bla

,built_type,year_built,floor_level,total_area,area_descr,condition,bathrooms,balcony,exchange,furniture,...,floor_category,avg_price_district,видеонаблюдение,решетки на окнах,кодовый замок,домофон,охрана,консьерж,видеодомофон,сигнализация
0,монолитный,2022,7 из 9,38.400,"38.4 м², Площадь кухни — 8.27 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,medium,32368559.733,0,0,0,0,0,0,0,0
1,монолитный,2022,2 из 9,34.000,"34 м², Площадь кухни — 9 м²",черновая отделка,совмещенный,лоджия,Не интересует,NaN,...,low,45403141.775,0,0,0,0,0,0,0,0
2,кирпичный,2011,8 из 16,57.200,57.2 м²,NaN,NaN,NaN,NaN,NaN,...,medium,32368559.733,0,0,0,0,0,0,0,0
3,монолитный,2022,7 из 7,50.000,50 м²,черновая отделка,совмещенный,NaN,NaN,NaN,...,medium,45403141.775,1,0,1,1,0,0,1,0
4,монолитный,1979,4 из 5,45.000,"45 м², Площадь кухни — 9 м²",NaN,раздельный,балкон,Не интересует,NaN,...,low,26228175.669,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18787,кирпичный,2019,9 из 10,38.000,38 м²,хорошее,NaN,NaN,NaN,NaN,...,high,45403141.775,0,0,0,0,0,0,0,0
18788,монолитный,2022,11 из 13,107.400,107.4 м²,черновая отделка,2 с/у и более,NaN,Не интересует,NaN,...,high,32368559.733,0,0,0,0,0,0,0,0
18789,монолитный,2021,13 из 16,103.000,"103 м², Площадь кухни — 17.5 м²",хорошее,2 с/у и более,NaN,Не интересует,NaN,...,high,45403141.775,1,0,0,1,0,0,1,0
18790,монолитный,2012,6 из 8,141.000,141 м²,хорошее,2 с/у и более,NaN,NaN,NaN,...,medium,32368559.733,0,0,0,0,0,0,0,0
18791,монолитный,2011,10 из 22,70.000,70 м²,хорошее,совмещенный,балкон,Не интересует,NaN,...,high,32368559.733,0,0,0,0,0,1,0,0

In [88]:
bla[['price', 'total_area', 'rooms', 'age', 'lat', 'lon', 'current_floor', 'max_floor', 'is_penthouse', 'сигнализация', "домофон", "кодовый замок", "консьерж", "охрана", "видеодомофон", "видеонаблюдение", "решетки на окнах"]].corr()

,price,total_area,rooms,age,lat,lon,current_floor,max_floor,is_penthouse,сигнализация,домофон,кодовый замок,консьерж,охрана,видеодомофон,видеонаблюдение,решетки на окнах
price,1.000,0.839,0.651,-0.111,-0.009,-0.003,0.082,0.069,-0.034,0.122,-0.015,0.066,0.162,0.144,0.156,0.024,-0.011
total_area,0.839,1.000,0.842,-0.060,0.000,-0.001,0.112,0.107,-0.026,0.119,0.001,0.051,0.154,0.112,0.120,0.031,-0.004
rooms,0.651,0.842,1.000,0.065,-0.003,0.001,0.071,0.059,-0.001,0.097,0.013,0.045,0.108,0.079,0.086,0.026,0.022
age,-0.111,-0.060,0.065,1.000,0.037,0.010,-0.172,-0.269,0.159,-0.056,-0.005,-0.065,-0.031,-0.138,-0.139,-0.070,0.065
lat,-0.009,0.000,-0.003,0.037,1.000,0.277,-0.000,-0.001,-0.005,-0.004,0.016,-0.011,0.004,-0.007,-0.010,0.005,0.011
lon,-0.003,-0.001,0.001,0.010,0.277,1.000,0.003,0.000,0.006,-0.002,0.006,0.004,0.003,-0.001,-0.000,-0.001,0.004
current_floor,0.082,0.112,0.071,-0.172,-0.000,0.003,1.000,0.571,0.177,0.033,0.005,0.048,0.112,0.056,0.033,0.028,-0.051
max_floor,0.069,0.107,0.059,-0.269,-0.001,0.000,0.571,1.000,-0.155,0.067,0.013,0.054,0.146,0.074,0.048,0.046,-0.035
is_penthouse,-0.034,-0.026,-0.001,0.159,-0.005,0.006,0.177,-0.155,1.000,-0.021,-0.007,-0.016,-0.017,-0.024,-0.029,-0.024,-0.003
сигнализация,0.122,0.119,0.097,-0.056,-0.004,-0.002,0.033,0.067,-0.021,1.000,0.250,0.390,0.225,0.370,0.369,0.281,0.147
домофон,-0.015,0.001,0.013,-0.005,0.016,0.006,0.005,0.013,-0.007,0.250,1.000,0.359,0.183,0.378,0.357,0.743,0.188
кодовый замок,0.066,0.051,0.045,-0.065,-0.011,0.004,0.048,0.054,-0.016,0.390,0.359,1.000,0.171,0.376,0.399,0.361,0.127
консьерж,0.162,0.154,0.108,-0.031,0.004,0.003,0.112,0.146,-0.017,0.225,0.183,0.171,1.000,0.293,0.257,0.220,0.050
охрана,0.144,0.112,0.079,-0.138,-0.007,-0.001,0.056,0.074,-0.024,0.370,0.378,0.376,0.293,1.000,0.452,0.413,0.119
видеодомофон,0.156,0.120,0.086,-0.139,-0.010,-0.000,0.033,0.048,-0.029,0.369,0.357,0.399,0.257,0.452,1.000,0.356,0.075
видеонаблюдение,0.024,0.031,0.026,-0.070,0.005,-0.001,0.028,0.046,-0.024,0.281,0.743,0.361,0.220,0.413,0.356,1.000,0.157
решетки на окнах,-0.011,-0.004,0.022,0.065,0.011,0.004,-0.051,-0.035,-0.003,0.147,0.188,0.127,0.050,0.119,0.075,0.157,1.000

In [89]:
district = set()
for i in bla.district.unique():
    b = str(i).split(',')
    for j in b:
        district.add(j.strip())

# district.remove('nan')

In [90]:
bla['district'].fillna('NO INFO', inplace= True)

for i in district:
    bla[f'{i}'] = bla['district'].str.contains(f'{i}').astype(int)

del bla['nan']
district.remove('nan')

In [91]:
# del bla['NO INFO']
# district.remove('NO INFO')
bla[['price', 'total_area', 'rooms', 'age', *district, 'lat', 'lon', 'current_floor', 'max_floor', 'is_penthouse', 'сигнализация', "домофон", "кодовый замок", "консьерж", "охрана", "видеодомофон", "видеонаблюдение", "решетки на окнах"]].corr()

,price,total_area,rooms,age,Esilyskiy_r-n,r-n_Baykonur,Saryarka_r-n,Almaty_r-n,lat,lon,...,max_floor,is_penthouse,сигнализация,домофон,кодовый замок,консьерж,охрана,видеодомофон,видеонаблюдение,решетки на окнах
price,1.000,0.839,0.651,-0.111,0.180,-0.061,-0.111,-0.081,-0.009,-0.003,...,0.069,-0.034,0.122,-0.015,0.066,0.162,0.144,0.156,0.024,-0.011
total_area,0.839,1.000,0.842,-0.060,0.122,-0.018,-0.081,-0.058,0.000,-0.001,...,0.107,-0.026,0.119,0.001,0.051,0.154,0.112,0.120,0.031,-0.004
rooms,0.651,0.842,1.000,0.065,0.083,0.005,-0.044,-0.047,-0.003,0.001,...,0.059,-0.001,0.097,0.013,0.045,0.108,0.079,0.086,0.026,0.022
age,-0.111,-0.060,0.065,1.000,-0.376,0.251,0.318,0.055,0.037,0.010,...,-0.269,0.159,-0.056,-0.005,-0.065,-0.031,-0.138,-0.139,-0.070,0.065
Esilyskiy_r-n,0.180,0.122,0.083,-0.376,1.000,-0.240,-0.364,-0.584,-0.051,-0.030,...,0.031,-0.046,0.043,0.001,0.062,0.012,0.127,0.137,0.044,-0.037
r-n_Baykonur,-0.061,-0.018,0.005,0.251,-0.240,1.000,-0.105,-0.168,0.005,0.013,...,0.030,0.020,-0.028,0.009,-0.026,0.002,-0.049,-0.061,-0.009,0.017
Saryarka_r-n,-0.111,-0.081,-0.044,0.318,-0.364,-0.105,1.000,-0.255,0.070,-0.025,...,-0.083,0.053,-0.038,0.011,-0.040,-0.035,-0.088,-0.081,-0.020,0.030
Almaty_r-n,-0.081,-0.058,-0.047,0.055,-0.584,-0.168,-0.255,1.000,0.004,0.049,...,0.021,0.007,-0.005,0.015,-0.012,0.013,-0.043,-0.055,-0.009,0.025
lat,-0.009,0.000,-0.003,0.037,-0.051,0.005,0.070,0.004,1.000,0.277,...,-0.001,-0.005,-0.004,0.016,-0.011,0.004,-0.007,-0.010,0.005,0.011
lon,-0.003,-0.001,0.001,0.010,-0.030,0.013,-0.025,0.049,0.277,1.000,...,0.000,0.006,-0.002,0.006,0.004,0.003,-0.001,-0.000,-0.001,0.004
current_floor,0.082,0.112,0.071,-0.172,0.017,0.021,-0.054,0.016,-0.000,0.003,...,0.571,0.177,0.033,0.005,0.048,0.112,0.056,0.033,0.028,-0.051
max_floor,0.069,0.107,0.059,-0.269,0.031,0.030,-0.083,0.021,-0.001,0.000,...,1.000,-0.155,0.067,0.013,0.054,0.146,0.074,0.048,0.046,-0.035
is_penthouse,-0.034,-0.026,-0.001,0.159,-0.046,0.020,0.053,0.007,-0.005,0.006,...,-0.155,1.000,-0.021,-0.007,-0.016,-0.017,-0.024,-0.029,-0.024,-0.003
сигнализация,0.122,0.119,0.097,-0.056,0.043,-0.028,-0.038,-0.005,-0.004,-0.002,...,0.067,-0.021,1.000,0.250,0.390,0.225,0.370,0.369,0.281,0.147
домофон,-0.015,0.001,0.013,-0.005,0.001,0.009,0.011,0.015,0.016,0.006,...,0.013,-0.007,0.250,1.000,0.359,0.183,0.378,0.357,0.743,0.188
кодовый замок,0.066,0.051,0.045,-0.065,0.062,-0.026,-0.040,-0.012,-0.011,0.004,...,0.054,-0.016,0.390,0.359,1.000,0.171,0.376,0.399,0.361,0.127
консьерж,0.162,0.154,0.108,-0.031,0.012,0.002,-0.035,0.013,0.004,0.003,...,0.146,-0.017,0.225,0.183,0.171,1.000,0.293,0.257,0.220,0.050
охрана,0.144,0.112,0.079,-0.138,0.127,-0.049,-0.088,-0.043,-0.007,-0.001,...,0.074,-0.024,0.370,0.378,0.376,0.293,1.000,0.452,0.413,0.119
видеодомофон,0.156,0.120,0.086,-0.139,0.137,-0.061,-0.081,-0.055,-0.010,-0.000,...,0.048,-0.029,0.369,0.357,0.399,0.257,0.452,1.000,0.356,0.075
видеонаблюдение,0.024,0.031,0.026,-0.070,0.044,-0.009,-0.020,-0.009,0.005,-0.001,...,0.046,-0.024,0.281,0.743,0.361,0.220,0.413,0.356,1.000,0.157
решетки на окнах,-0.011,-0.004,0.022,0.065,-0.037,0.017,0.030,0.025,0.011,0.004,...,-0.035,-0.003,0.147,0.188,0.127,0.050,0.119,0.075,0.157,1.000